* {
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

body {
    background-color: #fff2ee;
}

.container {
    background-color: white;
    width: 1400px;
    height: 100px;
    display: flex;
    margin: 3em auto;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
}

.imagem {
    margin: 1em;
}

.titulo {
    margin-top: 5px;
    margin-left: 10px;
}

.produtos {
    margin-top: 2em;
    margin-left: -108px;
}

h3 {
    color: black;
}

p {
    color: hsla(0, 0%, 0%, 0.527);
}

.entrega {
    font-weight: bold;
    color:  rgb(255, 145, 0);
}

.pedidos {
    width: 260px;
    height: 450px;
    margin-left: 2em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.fotos-redondas {
    border-radius: 15px;
}