* {
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

.header {
    display: flex;
    width: 100%;
    height: 85px;
    background: #6950A1;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.5);
}

.imagem {
    margin-top: 20px;
    margin-left: 30px;
}

.titulo {
    color: #ECECEC;
    font-size: 35px;
    font-weight: 700;
    margin-top: 22px;
    margin-left: 710px;
}

.botao {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    background-color: #FBB04D;
    width: 210px;
    height: 52px;
    border: 0px solid;
    margin-top: 18px;
    margin-left: 500px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.botao2 {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    background-color: #FBB04D;
    width: 170px;
    height: 52px;
    border: 0px solid;
    margin-top: 18px;
    margin-left: 10px;
    border-radius: 14px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

.imagens {
    width: 420px;
    height: 240px;
    margin: 24px;
}

.noticias {
    display: flex;
    width: 999px;
    height: 290px;
    margin: 2em;
    border-radius: 10px;
    border: 1px solid #6950A1;
    background: #FFF;
}

.titulos {
    width: 515px;
    height: 141px;
    color: #6950A1;
    font-size: 32px;
    font-weight: 700;
    margin-top: 12px;
}

.textos {
    width: 515px;
    height: 65px;
}