body {
    background-color: whitesmoke;
}

.produto {
    background-color: white;
    border: none;
    width: 18%;
    text-align: center;
    padding: 1em;
    border-radius: 4%;
    margin: 1em auto;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}

p {
    color: rgba(10, 10, 10, 0.479);
}